<%= render "shared/content_title", title: "Create New Team and Register as a Coach or Go to Login" %>

<div class="panel">
  <h3>Welcome to the Team Workout Log</h3>
  <p>If you have an account please <%= link_to "login here", login_path%>.</p>
  <p>Otherwise, you or your coach will need to create a team and then you or your coach can add athletes.  If you are using this as an individual, you will need to create a team and be your own "Coach."</p>
  <p><strong>Coaches</strong> have the privelege of being able to write programs for everyone on the team, and <strong>Athletes</strong> can only write programs for themselves.</p>
  <p>Both Coaches and Athletes can add exercises to an exercise category.</p>
</div>

<%= form_for @team do |f| %>
  <div class="panel small-12 medium-5 large-4">
    <%= render "shared/errors", object: @team %>
    <div class="small-12 medium-12 large-12">
      <%= f.label :name, "Team Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="small-12 medium-12 large-12">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
  </div>
  <%= fields_for :user, @team.users.first do |user_field| %>
    <div class="panel small-12 medium-5 large-4">
      <h5>Coach Information</h5>
      <div>
        <%= user_field.label :name %>
        <%= user_field.text_field :name %>
      </div>
      <div>
        <%= user_field.label :email %>
        <%= user_field.text_field :email %>
      </div>
      <div>
        <%= user_field.label :password %>
        <%= user_field.password_field :password %>
      </div>
      <div>
        <%= user_field.label :role %>
        <%= user_field.select :role, ["Coach"] %>
      </div>
    </div>
  <% end %>
  <div class="small-12 medium-5 large-4">
    <%= f.submit "Create", class: "button small radius expand" %>
  </div>
<% end %>

<h5>Already have an account? <%= link_to "Login Here", login_path %></h5>