<% if logged_in? %>
  <% role_selection = if current_user == @user and current_user.role == "Admin" %>
    <%["Admin"]%>
  <% elsif current_user.role == "Admin" %>
    <% [ "Athlete", "Coach", "Admin" ] %>
  <% elsif current_user == @user and current_user.role == "Coach" %>
    <% [ "Coach" ] %>
  <% elsif current_user.role == "Coach" %>
    <% ["Athlete", "Coach"] %>
  <% else %>
    <% ["Athlete"] %>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= render "shared/errors", object: @user %>
  <div class="small-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="small-4">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="small-4">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="small-4">
    <%= f.label :role %>
    <%= f.select :role, role_selection %>
  </div>
  <div>
    <%= f.submit submit_text, class: "button small radius" %>
    <%= link_to "Cancel", root_path, class: "button small radius secondary" %>
  </div>
<% end %>