<%= render "shared/content_title", title: "#{link_to @cycle.user.name, user_path(@cycle.user)} > #{@cycle.length_of_time} #{@cycle.length_of_time_units} Cycle, #{format_date(@cycle.start_date)}".html_safe %>
<h4><%= @cycle.description %> Cycle</h4>

<% if logged_in? and user_is_current_user_coach_or_admin?(@cycle.user) %>
  <%= link_to "Edit Cycle", edit_user_cycle_path(@cycle.user, @cycle), class: "button radius warning small right" %>
  <%= link_to "Add Workout", new_user_cycle_workout_path(@cycle.user, @cycle), class: "button radius success small" %>
<% end %>

<ul class="accordion" data-accordion>
  <% count = 1 %>
  <% @cycle.sort_workouts_for_show.each do |workout| %>
    <li class="accordion-navigation">
      <a href='#workout-<%= "#{workout.date}-#{count}"%>'><%= format_date(workout.date) %>: <%= workout.am_pm %> (Click to See)</a>
      <div id='<%= "workout-#{workout.date}-#{count}"%>' class="content">
        <%= render "workouts/workout_preview", workout: workout %>
      </div>
      <% count += 1 %>
    </li>
  <% end %>
</ul>

<script>
  $(document).foundation({
    accordion: {
      callback : function (accordion) {
        console.log(accordion);
      }
    }
  });
</script>