<%= form_for @category_form do |f| %>
  <%= render "shared/errors", object: @category_form %>


  <h4><span data-tooltip aria-haspopup="true" class="has-tip" title="A Category is intended to be the highest level grouping of exercises. An example would be Olympic Lifts or Snatch. It depends on how you wish to organize the subcategories.">Category</span></h4>
  <div class="small-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="small-4">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </div>
  <hr>

  <h4><span data-tooltip aria-haspopup="true" class="has-tip" title="A subcategory is intended to be the lowest level grouping of exercises. If the parent category is Olympic Lifts then subcategories might be Snatch and Clean. If the parent category is Conditioning subcategories might be Running, Swimming, or Biking.">Subcategory</span></h4>
  <%= f.fields_for :subcategories do |s| %>
    <%= render "subcategory_fields", f: s %>
  <% end %>

  <hr>
  <div class="row">
    <%= link_to_add_association "Add Subcategory", f, :subcategories, class: "button radius small" %>
  </div>

  <div class="row">
    <%= f.submit submit_text, class: "button medium radius success" %>
    <%= link_to "Cancel", root_path, class: "button medium radius secondary" %>
  </div>
<% end %>